body {
  margin: 0;
  background-color: #7FFFD4;
  text-align: center;
  color: black;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: #0b0a0a;
}

h3 {
  text-align: center;
  color: #222222;
}

h4 {
  text-align: center;
  color: #383838;
}
