body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

nav {
  background-color: #333;
  color: white;
  padding: 0.5rem 0;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #4CAF50;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
  color: #4CAF50;
}

h1 {
  color: white
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  animation: slideDown 1s ease-in-out 3s forwards;
}

@keyframes slideDown {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(100%);
      opacity: 0;
  }
}