body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #FF0000; /* Red */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #FF0000; /* Red */
}

h1 {
    color: white;
}

pre {
    background-color: #f4f4f4;
    padding: 1rem;
    border-left: 5px solid #FF0000; /* Red */
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

/* Search form styles */
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 70%;
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #FF0000; /* Red */
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-button:hover {
    background-color: #cc0000; /* Darker Red */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: slideDown 1s ease-in-out 3s forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.download-select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
}

.download-link {
    text-decoration: none;
    color: #FF0000; /* Red */
}

.download-link:hover {
    text-decoration: underline;
}
